# 120++ Executable
120++
120

# Submissions
*.tar

# Flex files
*.yy.cc
*.yy.c
*.yy.h
*.xx.cc
*.xx.c
*.xx.h

# Bison files
*gram.tab.*
*.output

# Verbose Parse Tree
120fullgram.y

# OSX Files
.DS_Store

# Windows files
System Volume Information/

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex